{% extends "base.html" %}

{% block content %}
<h5 class="center-align">Resetar senha</h5>
  <div class="row">
    <form class="col s12 m12 l12" method="POST" action="">
      {% csrf_token %}
      {% if form.email.errors %}
    	{{ form.email.errors }}
  	  {% endif %}
      <div class="row">
        <div class="input-field col s12 m8 l6 offset-m2 offset-l3">
          <i class="material-icons prefix">person</i>
          <input type="text" name="email" minlength="1" maxlength="50" class="validate" required>
          <label>Email</label>
        </div>
        <div class="input-field col s8 m5 l3 offset-s2 offset-m5 offset-l5">
           <button class="btn waves-effect waves-light red darken-2" type="submit" name="action">Enviar email<i class="material-icons right">send</i></button>
        </div>
      </div>
    </form>
  </div>
  
{% endblock %}