{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Sisraco</title>
  <meta charset="utf-8">
  <meta name="description" content="Sistema de rastreamento de coletivos em tempo real">
  <meta name="keywords" content="Rastremaento, geolocalização, coeltivos">
  <meta name="author" content="Hernandes Matheus da Silva">
  <meta name="author" content="Vitor Daniel Lócio Medeiros">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.css' rel='stylesheet'/>
</head>
<body>
  <div class="navbar-fixed">
    <nav class=" red darken-2">
      <div class="nav-wrapper row">
        <a href="{% url 'motorista' %}" class="brand-logo center">Sisraco</a>
        <a class="btn red darken-2 left col s2 m2 l1" data-activates="menu" id="bmenu" style="height: 100%;"><i class="material-icons">menu</i></a>
        {% if user.is_authenticated%} 
        <a id="sair" class="btn red darken-2 right col s2 m2 l1 " href="{% url 'logout' %}? next = {{request.path}} " style=" height: 100%;"><i class="material-icons">exit_to_app</i></a> {% endif%} 
        <a id="recentralizar" class="btn red darken-2 right col s2 m2 l1" onclick="recentralizar()"
        style="height: 100%;" title="Recentralizar"><i class="material-icons">navigation</i></a>
      </div>
    </nav>
  </div> 
  <ul id='menu' class="side-nav" style="z-indexex: 200000000000000000">
    <div class="navbar-fixed"></div> 
    <h4 class="center-align"><i class="material-icons">directions_bus</i> Sisraco</h4>
    <div class="divider"></div>
    <li><a class="waves-effect" href=""><i class="material-icons" style="color: #d32f2f">home</i>Menu</a>
    </li>
    <div class="divider"></div>
    <li>
      <a class="waves-effect dropdown-button" data-activates='dropdown1'><i class="material-icons" style="color: #d32f2f">directions_bus</i>Meu ônibus
      </a>
    </li>
    <ul id='dropdown1' class='dropdown-content'>
      <li><a class="waves-effect" href="{% url 'rota' %}"><i class="material-icons" style="color: black">rounded_corner</i>Rota</a></li>
      <li><a class="waves-effect" href="{% url 'paradas' %}"><i class="material-icons" style="color: black">local_parking</i>Paradas</a></li>
      <li><a class="waves-effect" href="editarOnibus"><i class="material-icons" style="color: black">directions_bus</i>Editar nome</a></li>
    </ul>
    <div class="divider"></div>
   
    <li class="center-align"><i class="material-icons">assignment_ind</i> {{user.first_name}}</li>
  </ul> 
  <footer id="footer" class="page-footer red darken-2 center-align" style="position: fixed; display: none; width: 100%; bottom: 0; z-index: 100000000">
    <div class="footer-copyright">
        <div class="container">
          © Copyright 2019-2019 Instituto Federal de Educação, Ciência e Tecnologia do Rio Grande do Norte
        </div>
    </div>
 </footer>
  
	 {% block content %}
            
  {% endblock %}
  
<script type="text/javascript">
  $(document).ready(function(){
      $("#bmenu").sideNav();
    });
  $('.dropdown-button').dropdown({
      inDuration: 300,
      outDuration: 225,
      constrainWidth: true, // Does not change width of dropdown to that of the activator
      hover: false, 
      gutter: 0, // Spacing from edge
      belowOrigin: true, // Displays dropdown below the button
      alignment: 'left', // Displays dropdown with edge aligned to the left of button
      stopPropagation: false // Stops event propagation
    }
  );
</script>
</body>
</html>
