<!DOCTYPE html>
<html>
<head>
	<title>Sisraco - Motorista - Login</title>
	<meta charset="utf-8">
	<meta name="description" content="Sistema de rastreamento de coletivos em tempo real">
	<meta name="keywords" content="Rastremaento, geolocalização, coeltivos">
	<meta name="author" content="Hernandes Matheus da Silva">
	<meta name="author" content="Vitor Daniel Lócio Medeiros">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>
<body>
	<div class="navbar-fixed">
		<nav class=" red darken-2">
			<div class="nav-wrapper row">
				<a href="#!" class="brand-logo center">Sisraco - Motorista</a>
			</div>
		</nav>
	</div> 


	<div class="row">
	    <form class="col s12 m6 l4 push-l4">
	        <div class="row">
		        <div class="input-field col s12 m12 l12">
		          <i class="material-icons prefix">directions_bus</i>
		          <input id="icon_prefix" type="number" min="0" class="validate">
		          <label for="icon_prefix">Código do ônibus</label>
		        </div>
		        <div class="input-field col s12 m12 l12">
		          <i class="material-icons prefix">dialpad</i>
		          <input id="icon_telephone" type="tel" class="validate">
		          <label for="icon_telephone">Senha de acesso</label>
		        </div>
		     <a class="waves-effect waves-light btn red darken-2 col "><i class="material-icons left">cloud</i><input type="submit" value="Acessar"></a>		      
	      </div>
	    </form>
 	</div>
        
	<script type="text/javascript">

	</script>
</body>
</html>